/* This is the CSS file for the CategoryScreen */
.categoryLoadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
  background-color: #f0ffff;
}
.contactContainer {
  background-color: #f0ffff;
  width: 100vw;
}
.contactListContainer {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100vw;
}
.contactCategoryCardContainer {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  transition: transform 0.2s;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 3vw;
  padding-right: 3vw;
  width: 20vw;
  min-height: 25.5vh;
  margin-bottom: 5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}
.contactVerticalSpacer {
  height: 2.5vh;
}
.contactGuideLogo {
  height: 20vh;
  width: auto;
}
.contactCategoryCardContainer:hover {
  transform: scale(1.15);
}
